html {
  background-color: rgba(5, 43, 255, 0.746);
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 70px;
}

.container {
  height: 300px;
  width: 750px;
  background-color: rgba(255, 255, 255, 0.712);
  margin: 0 auto;
  border: 5px solid rgba(3, 255, 255, 0.698);
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 100px 1fr 1fr;
  margin-bottom: 50px;
  margin-top: 100px;
}

#weight-input {
  height: 25px;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
}

#wlabel {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

#height-input {
  height: 25px;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: center;
}

#hlabel {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

#bmi-output {
  height: 25px;
  width: 250px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: center;
}

#bmilabel {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

#btn {
  height: 25px;
  width: 75px;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: center;
  justify-self: center;
}

.table {
  height: 100px;
  width: 550px;
  background-color: rgba(255, 255, 255, 0.712);
  margin: 0 auto;
  border: 5px solid rgba(3, 255, 255, 0.698);
}

table,
th,
td {
  margin: auto;
  text-align: center;
  border: 1px solid black;
}
